{% extends "base/base_home.html" %}

{% block user_content %}


    <div class='title_buttons'>
        <a href="{% url 'sections.projects.views.projects' %}" class="back"> < Back</a>
        <span>{{ project.name }}</span>
    </div>

    {% include "home/projects/includes/proj_menu.html" %}

    <section class='main_with_right_menu'>
        <table class='padd_table'>
            <tr class='header'>
                <td>Date</td>
                <td>Description</td>
                <td>Download Link</td>
            </tr>
            {% for p in project_updates %}
                <tr class='row'>
                    <td>{{ p.created_at }}<br/>Contributor: <b>{{ p.user.username }}</b></td>
                    <td>{{ p.description|linebreaks }}</td>
                    <td><a href='#'>Link</a></td>
                </tr>
            {%  endfor %}
        </table>

    </section>

{% endblock %}