{% extends "base/base_home.html" %}

{% block user_content %}

    <a href="/home/projects" class="nav_link"> < Back</a>

    <h1>{{ project.name }}</h1>
    {% include "home/projects/includes/proj_menu.html" %}

    <section class='main_with_right_menu'>
        <table class='padd_table'>
            <tr class='header'>
                <td>Date</td>
                <td>Description</td>
                <td>Download Link</td>
            </tr>
            {% for p in project_updates %}
                <tr class='row'>
                    <td>{{ p.created_at }}<br/>Contributor: <b>{{ p.user.username }}</b></td>
                    <td>{{ p.description }}</td>
                    <td><a href='#'>Link</a></td>
                </tr>
            {%  endfor %}
        </table>

    </section>

{% endblock %}