{% extends "base/base_home.html" %}
{% load static %}

{% block extra_head_content %}
    <link rel = 'stylesheet' href="{% static "css/sections/projects/project_info/file_info.css" %}" />
{% endblock %}
{% block user_content %}

    <a href="/home/projects/project_info?projId={{ file.project_ref.id }}" class="nav_link"> < Back</a>
    <a href="/home/projects/file_update?fileId={{ file.id }}" class="nav_link"> Upload </a>

    <h1>{{ file.name }}</h1>
    {{ file.description }}<br/><br/>
    <section>
        <table id='file_commit_table' class='padd_table'>
            <tr class='header'>
                <td>Version</td>
                <td>Date</td>
                <td>Description</td>
                <td>Download</td>
            </tr>
            {% for f in file_uploads %}
                <tr class='row'>
                    <td class='file_col1'>{{ forloop.counter }}</td>
                    <td class='file_col2'>{{ f.created_at }}<br/>Contributor: <b>{{ f.user.username }}</b></td>
                    <td class='file_col3'>{{ f.description }}</td>
                    <td class='file_col4'><a href='#'>Link</a></td>
                </tr>
            {%  endfor %}
        </table>

    </section>

{% endblock %}