{% extends "base/base_home.html" %}
{% load static %}

{% block extra_head_content %}
    <link rel = 'stylesheet' href="{% static "css/sections/projects/project_info/file_info.css" %}" />
{% endblock %}
{% block user_content %}

    <div class='title_buttons'>
    <a href="{% url 'sections.projects.views.projectInfo' %}?projId={{ file.project_ref.id }}" class="back"> < Back</a>
    <span>{{ file.name }}</span>
    <a href="{% url 'sections.projects.views.fileUpdate' %}?fileId={{ file.id }}"> Upload </a>
    </div>

    {{ file.description|linebreaks }}<br/><br/>
    <section>
        <table id='file_commit_table' class='padd_table'>
            <tr class='header'>
                <td>Version</td>
                <td>Date</td>
                <td>Description</td>
                <td>Download</td>
            </tr>
            {% for f in file_uploads %}
                <tr class='row'>
                    <td class='file_col1'>{{ forloop.counter }}</td>
                    <td class='file_col2'>{{ f.created_at }}<br/>Contributor: <b>{{ f.user.username }}</b></td>
                    <td class='file_col3'>{{ f.description|linebreaks }}</td>
                    <td class='file_col4'><a href='{{ MEDIA_URL }}{{ f.file_upload }}'>Link</a></td>
                </tr>
            {%  endfor %}
        </table>

    </section>

{% endblock %}