{% extends "base/base_home.html" %}


{% block user_content %}

    <section id="proj_container">
    <a href="{% url 'sections.projects.views.projectInfo' %}?projId={{ file.project_ref.id }}" class="nav_link"> < Back</a>

        <h1>{{ file.name }}</h1>

        <form action="" method="POST" enctype="multipart/form-data">
            <table>
                {% csrf_token %}
                {{ form.as_table }}
                <tr><th></th><td>
                    <input type="hidden" value="{{ file.id }}" name="fileId">
                    <input type="submit" value="Upload">
                </td></tr>
            </table>
        </form>

        {% if error %} {{ message }} {% endif %}
    </section>

{% endblock %}