{% extends "base/base.html" %}
{% load static %}

{% block style %}
    <link rel = 'stylesheet' href="{% static "css/home_style.css" %}" />
    <link rel = 'stylesheet' href="{% static "css/sidebar.css" %}" />
{% endblock %}

{% block sidebar %}
<div id="sidebar">
	    <img src="images/logo.png" alt="logo" id="logo" />
	    <ul>
            <li><a href="#">Some</a></li>
            <li><a href="#">Some</a></li>
            <li><a href="#">Some</a></li>
        </ul>
</div>
{%  endblock %}

{% block content %}
    {% block userbar %}
          <header class = "user_bar">
                <span class = "welcome_link">Welcome,{{ request.user.username|capfirst  }}!</span>
                <span class = "logout_link">Log Out <a class = "logout_button" href = {% url "login.views.disconnect" %}>!</a>
                    </span>
          </header>
        {% endblock %}

{% endblock %}