{%  load static %}
<nav id="sidebar">
	    <ul>
            <li><a class='sidebar_item'href="#">
                <img class='sidebar_item_img' src="{% static "images/spsu_logo.jpg" %}" />
            </a></li>

            <li><a class='sidebar_item'href="#">
                <img class='sidebar_item_img' src="{% static "images/spsu_logo.jpg" %}" />
            </a></li>

            <li><a class='sidebar_item'href="#">
                <img class='sidebar_item_img' src="{% static "images/spsu_logo.jpg" %}" />
            </a></li>

            <li><a class='sidebar_item'href="#">
                <img class='sidebar_item_img' src="{% static "images/spsu_logo.jpg" %}" />
            </a></li>

            <li><a class='sidebar_item'href="#">
                <img class='sidebar_item_img' src="{% static "images/spsu_logo.jpg" %}" />
            </a></li>

            <li><a class='sidebar_item'href="#">
                <img class='sidebar_item_img' src="{% static "images/spsu_logo.jpg" %}" />
            </a></li>
        </ul>
</nav>