{%  load static %}
<nav id="sidebar">
	    <ul>

            <li><a class='sidebar_item'href="/home/newsfeed">
                <img class='sidebar_item_img' src="{% static "images/sidebar/rss_icon.png" %}" />
            </a></li>

            <li><a class='sidebar_item'href="/home/forum">
                <img class='sidebar_item_img' src="{% static "images/sidebar/forum.png" %}" />
            </a></li>

            <li><a class='sidebar_item'href="/home/projects">
                <img class='sidebar_item_img' src="{% static "images/sidebar/version.png" %}" />
            </a></li>

            <li><a class='sidebar_item'href="/home/messaging">
                <img class='sidebar_item_img' src="{% static "images/sidebar/messages2.png" %}" />
            </a></li>

            <li><a class='sidebar_item'href="/home/settings">
                <img class='sidebar_item_img' src="{% static "images/sidebar/settings_icon.png" %}" />
            </a></li>
        </ul>
</nav>