{% extends "base/base_home.html" %}
{% load static %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href = "{% static "css/messages.css" %}"/>
{% endblock %}

{% block user_content %}
    <h1> Inbox</h1>
    <a href = '{% url "sections.messaging.views.compose" %}' class = 'nav_link'> New Message </a>
    <a href= '{% url 'sections.messaging.views.outbox' %}' class = 'nav_link'> Outbox </a>

    <table>
        <thead class="msg_head">
            <tr>
                <th scope="col"> Action </th>
                <th scope="col"> Subject </th>
                <th scope="col"> From </th>
                <th scope="col">Preview</th>
                <th scope = "col">Received</th>

            </tr>
        </thead>
        <tbody>
    {% for msg in messages %}
        <tr
            class = "
              {% if not msg.viewed %}
                unread
               {% endif %}
                msg_row"
        >
            <td><a href="{% url "sections.messaging.views.view"  msg.id  %}">View  </a>

            <a href="{% url "sections.messaging.views.delete" msg.id %} ">  Delete </a>
            </td>
            <td class = "subject"> {{ msg.subject }} </td>
            <td><a href='/home/user_profile?userId={{ msg.sender.id }}'>{{ msg.sender.username }}</a></td>
            <td> {{ msg.content|truncatechars:80 }}</td>
            <td> {{ msg.date_sent }}</td>

        </tr>
        {% empty %}
            <tr><td colspan="5"> There are no messages ! </td></tr>
    {% endfor %}
        </tbody>
    </table>

{% endblock %}
