html
{

        background-image: -webkit-radial-gradient(45% 30%,ellipse, #336699 0%,rgba(0,0,0,.6) 150%);
        background-image: -moz-radial-gradient(40% 30%,ellipse, #336699 0%,rgba(0,0,0,.6) 150%);
        background-repeat:repeat-y;
        background-size: 100% 1000px;

}
.user_bar
{
    position:relative;
    border-bottom: inset 3px black;
    width:100%;
    margin:auto;
    height: 70px;
    /*background-color: #336699;*/
}
.welcome_link,.logout_link,.home_link
{
    position:absolute;
    top:30px;
    font-size: 22pt;
    color: #FFFFFF;
    text-shadow: 0 1px 1px black;
}
.logout_button
{
    border:outset 3px white;
    display:inline-block;
    text-align: center;
    width:30px;
    height:30px;
    border-radius: 100px;
    font-size: 22pt;
    color:white;
    text-decoration: none;
    transition-delay:.2s;
    transition-duration:.5s;
}
.logout_link, .home_link
{
    left:89%;
    transition-delay:.2s;
    transition-duration:.5s;

}
.home_link
{
    left:16%;
}
.home_link:hover
{
    text-shadow: 0 4px 4px red;
}
.logout_button:hover, .logout_link:hover
{
    color:firebrick;
    border-color:firebrick;
    text-shadow: 0 -1px 20px firebrick;
}
.settings_link
{
    color: #b0241c;
}
#user_content
{
    margin-top: 20px;
    vertical-align: top;
    display:inline-block;
    margin-left:5px;
    border:inset 2px #CCC;
    width:85%;
    height:500px;
    padding:20px;
    background-color: #EEE;
}