#right_main
{
    height: 60%;
    width: 180px;
    right: 1%;
    padding: 1em;
    display:inline-block;
    border: black solid 1px;
    position: fixed;
    right: 5%;
}


.padd_table
{
    margin-left: 20px;

}
.padd_table .header
{
    background-color: rgba(100,100,250,.7);
    text-decoration: underline;
    font-weight: bold;
}

.padd_table .option:hover
{
    background-color: rgba(200,200,200,.7);
}

.padd_table td
{
    padding: .5em 1em;
    border: #222222 solid 1px;
    border-radius: 3px;
}

/* PROJECT CSS*/
#proj_container
{
    width: 100%;
}

/* PROFILE CSS */
#profile_main_pic
{
    height: 200px;
    width: 200px;
}