#proj_container
{
    width: 100%;
}

.large_main_btn
{

}

.padd_table
{
    margin-left: 20px;

}
.padd_table .header
{
    background-color: rgba(100,100,250,.7);
    text-decoration: underline;
    font-weight: bold;
}

.padd_table .option:hover
{
    background-color: rgba(200,200,200,.7);
}

.padd_table td
{
    padding: 1em;
    border: #222222 solid 1px;
    border-radius: 3px;
}