html
{

        background-image: -webkit-radial-gradient(45% 30%,ellipse, #FFF 0%,rgba(0,0,0,.6) 150%);
        background-image: -moz-radial-gradient(40% 30%,ellipse, #FFF 0%,rgba(0,0,0,.6) 150%);
        background-repeat:repeat-y;
        background-size: 100% 1000px;
}

.welcome
{
    position:absolute;
    top:20%;
    left:5%;
    width:700px;
    height:300px;
    padding:20px;
    color:#008;
    text-shadow:0 1px .5px black;
    font-size: 48pt;
    display: inline-block;

}
a
{
    color:darkred;
    transition-delay:.1s;
    transition-duration:.5s;
}
a:hover
{
    color:red;
}
#login_section,#registration_section
{
    width:500px;
    height:300px;
    margin:auto;
    margin-top: 150px;
    border:inset 1px black;
    border-radius:10px;
    color:white;
    text-shadow: 0 -2px 4px white;
    text-align:center ;
    background-image: -webkit-radial-gradient(45% 30%,ellipse, 	 #222 0%,rgba(0,0,0,.6) 150%);
    background-image: -moz-radial-gradient(40% 30%,ellipse,  #222 0%,rgba(0,0,0,.6) 150%);
    background-repeat:no-repeat;
}
#registration_section
{
    height: 550px;
    margin-right:60px;
    margin-top: 50px;
}

input
{
    outline: none;
    width:300px;
    margin-top:30px;
    height:40px;
    font-size:15pt;
    font-weight: bold;
    color:darkblue;
    transition-delay:.1s;
    transition-duration:.5s;
    text-align: center;
}
input[type= 'submit']
{
    color:#008;
    background-color:#CCC;
}
input:focus
{
    box-shadow: 2px 4px 5px #D3A46E;
}
.errorlist
{
    display:none;
}
.login_error
{
    /*position: absolute;*/
    font-size: 32pt;
    text-align: center;
    text-shadow: 0 1px 1px black;
    color:#834C24;
}

