{% extends "base/base_home.html" %}


{% block user_content %}
    <h1>News Feed</h1>
    {% comment %}
    <div id='right_main'>
        <ul id="nav-right">
            <li><a href="#" title="#title1" >title1</a></li>
            <li><a href="#" title="#title2" >title2</a></li>
            <li><a href="#" title="#title3" >title3</a></li>
            <li><a href="#" title="#title4" >title4</a></li>
            <li><a href="#" title="#title5" >title5</a></li>
            <li><a href="#" title="#title6" >title6</a></li>
            <li><a href="#" title="#title7" >title7</a></li>
        </ul>
    </div>
    {% endcomment %}
    <section class='main_with_right_menu'>

        <table class='padd_table'>
            <tr class='header'>
                <td> Date </td>
                <td> Title </td>
            </tr>
            {% for n in newsfeed_list %}
                <tr class='option'>
                    <td> {{ n.created_at }}</td>
                    <td> <a href='{% url n.view %}{{ n.params }}'>{{ n.title }}</a> </td>
                </tr>
            {% endfor %}

        </table>
    </section>

{% endblock %}