{% extends "base/base_home.html" %}
{% load static %}

{% block user_content %}
    <div class='title_buttons'>
    <span>Forum</span>
            <a href='{% url 'sections.forum.views.findUsers' %}' title="Search for Users">Find Users</a>
    </div>


    <section class='main_with_right_menu' id='forum_main'>

        <table class='padd_table'>
            <tr class='header'>
                <td> Name </td>
                <td> Acronym </td>
                <td> Threads </td>
                <td> Last Post </td>
            </tr>
            {% for c in category_list|dictsortreversed:'count' %}
                <tr class='option'>
                    <td> <a href='{% url 'sections.forum.views.threads' %}?catId={{ c.id }}'>{{ c.name }}</a> </td>
                    <td> {{ c.acr }} </td>
                    <td>{{ c.count }}</td>
                    <td>{{ c.last_post }}</td>
                </tr>
            {% endfor %}

        </table>

    </section>




{% endblock %}