{% extends "base/base_home.html" %}
{% load static %}

{% block user_content %}


    <div id='right_main'>
        <ul id="nav-right">
            <li><a href='find/users' title="Search for Users" >Find Users</a></li>
        </ul>
    </div>

    <section class='main_with_right_menu' id='forum_main'>

        <table class='padd_table'>
            <tr class='header'>
                <td> Name </td>
                <td> Acronym </td>
                <td> Threads </td>
                <td> Last Post </td>
            </tr>
            {% for c in category_list %}
                <tr class='option'>
                    <td> <a href='threads?catId={{ c.id }}'>{{ c.name }}</a> </td>
                    <td> {{ c.acr }} </td>
                    <td>{{ c.count }}</td>
                    <td>{{ c.last_post }}</td>
                </tr>
            {% endfor %}

        </table>

    </section>




{% endblock %}