{% extends "base/base_home.html" %}
{% load static %}

{% block extra_head_content %}
    <link rel = 'stylesheet' href="{% static "css/sections/forum/threads_new.css" %}" />
{% endblock %}

{% block user_content %}

    <a href='{% url 'sections.forum.views.forum' %}'>< Back</a>
    <section class='main_with_right_menu'>

        <form id='100form' action="" method="POST">
            <div id='hints'>
                <h4>TIPS:</h4>
                <p>Use [IMG] and [/IMG] to add an image link to your thread<br/>
                    Use [U2] and [/U2] to add youtube video</p>
            </div>
            <table id='100form_table'>
                {% csrf_token %}
                {{ form.as_table }}
                <tr><th></th><td>



                    {% if category_id %}
                        <input type="hidden" value="{{ category_id }}" name="catId">
                        <input type="submit" value="Create">
                    {% endif %}
                    {% if comment_id %}
                        <input type="hidden" value="{{ comment_id }}" name="commentid">
                        <input type="submit" value="Update">
                    {% endif %}
                </td></tr>
            </table>
        </form>

        {% if error %}
            {{ message }}
        {% endif %}
    </section>

{% endblock %}