{% extends "base/base_home.html" %}
{%  load static %}


{% block extra_head_content %}
    <link rel = 'stylesheet' href="{% static "css/sections/forum/threads_view.css" %}" />
{% endblock %}


{% block user_content %}
    {% comment %}
    <div id='right_main'>
        <ul id="nav-right">
            <li><a href='/home/forum' title='Return to Main Forum'>< Forum Home</a></li>
        </ul>
    </div>
    {% endcomment %}
    <div class ="proj_nav">
        <a href='{% url 'sections.forum.views.forum' %}' title='Return to Main Forum'>< Forum Home</a>
    </div>


    <section class='main_with_right_menu' id='forum_thread_main'>

        <table>
            {% for c in comment_list %}
                <tr class='tc_head'>
                        <td colspan="2" >
                            <span class='tc_head_date'>{{ c.created_at }}</span>
                            <span class='tc_head_count'>{{forloop.counter}}</span>
                        </td>
                </tr>
                <tr class='tc_holder'>
                    <td class='tc_holder_user_container'>
                        <img class='forum_user_pic' src="{{ MEDIA_URL }}{{ c.user.profile.picture }}" />
                        <br/>
                        <a href='{% url 'sections.user_profile.views.userProfile' %}?userId={{ c.user.id }}'>{{ c.user.username }}</a>
                    </td>
                    <td class='tc_holder_main'> <b>{{ c.title }}</b> <br/> {{ c.body }} </td>
                </tr>
                <tr class='tc_spacer'></tr>
            {% endfor %}
        </table>









        <form id='forum_thread_comment' action="" method="POST">
            <table>
                {% csrf_token %}
                {{ form.as_table }}
                <tr><th></th><td>
                    <input type="hidden" value="{{ thread.id }}" name="catId">
                    <input type="submit" value="Create">
                </td></tr>
            </table>
        </form>

    </section>
{% endblock %}