{% extends "base/base_home.html" %}
{% load static %}

{% block extra_head_content %}
    <link rel = 'stylesheet' href="{% static "css/sections/forum/threads.css" %}" />
{% endblock %}

{% block user_content %}
    <div class='title_buttons'>
        <a href='{% url 'sections.forum.views.forum' %}' class="back">< Back</a>
        <span> Thread List </span>
        <a href='{% url 'sections.forum.views.thread_new' %}?catId={{ category_id }}'>New Thread</a>
    </div>


    <section class='main_with_right_menu'>

        <table class='full_width_table padd_table'>
            <tr class='header'>
                <td> Title </td>
                <td> # Posts </td>
                <td> Last Post </td>
            </tr>
            {% for t in thread_list %}
                <tr class='tbl_row option'>
                    <td class='forum_threads_title'>
                        <a href='{% url 'sections.forum.views.thread_view' %}?threadId={{ t.id }}'>{{ t.title }}</a></a> <br/>
                        <span class='username_sml'>{{ t.user.username }}</span>
                    </td>
                    <td class='forum_threads_count'>{{ t.count }}</td>
                    <td class='forum_threads_date'>
                        {{ t.last_post.created_at }}<br/>
                        <span class='username_sml'>{{ t.last_post.user.username }}</span>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </section>


{% endblock %}