{% extends "base/base_home.html" %}


{% block user_content %}

    <a href='{% url 'sections.forum.views.forum' %}' class = 'nav_link'>< Back</a>

    <form name="search" class="form-search" method="get" action="#">
        <input name="searchFilter" type="text" class="search-query input-large" {#onkeypress="return submitenter(this,event)" #} value='{{ searchFilter }}'>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <br />



    <section class='section'>

        <table class='padd_table'>
            <tr class='header'><td>
                Id
            </td><td>
                Username
            </td><td>
                Email
            </td><td>
                Member Since
            </td><td>
                Projects Created
            </td><td>
                Contributions
            </td></tr>
            {% if users.count > 0 %}
                {% for u in users %}
                    {#            {% if u.isActive %}#}

                    <tr class='option'>
                        <td>
                            {{ u.id }}
                        </td><td>
                        <a href='{% url 'sections.user_profile.views.userProfile' %}?userId={{ u.id }}'>{{ u.username }}</a>
                    </td><td>
                        {{ u.email }}
                    </td><td>
                        {{ u.date_joined }}
                    </td><td>
                        0
                    </td><td>
                        0
                    </td>
                    </tr>

                    {#            {% endif %}#}
                {% endfor %}
            {% endif %}
            {% if users.count == 0 %}
                <tr class=''>
                    <td colspan="6"> Oops No Users found </td>
                </tr>
            {% endif %}
        </table>

    </section>

{% endblock %}


