{% extends "base/base_home.html" %}


{% block user_content %}

    <section id="proj_container">
    <a href="/home/projects/project_info?projId={{ project.id }}" class="nav_link"> < Back</a>

        <h1>{{ project.name }}</h1>

        <form action="" method="POST">
            <table>
                {% csrf_token %}
                {{ form.as_table }}
                <tr><th></th><td>
                    <input type="hidden" value="{{ project.id }}" name="projId">
                    <input type="submit" value="Update">
                </td></tr>
            </table>
        </form>

        {% if error %} {{ message }} {% endif %}
    </section>

{% endblock %}