{% extends "base/base_home.html" %}
{% load static %}

{% block extra_head_content %}
    <link rel = 'stylesheet' href="{% static "css/sections/projects/projects.css" %}" />
{% endblock %}

{% block user_content %}
    <div class='title_buttons'>
        <span>Projects You Own</span>
        <a href='{% url 'sections.projects.views.addNew' %}'>Create New Project</a>
        <a href='{% url 'sections.projects.views.allProjects' %}'>View All Projects</a>
    </div>
    <section class="main_with_right_menu">
        {% if owned_project_list.count > 0 %}
            <table class='padd_table'>
                <tr class='header'>
                    <td> Name </td>
                    <td> Description </td>
                    <td> Date Created </td>
                </tr>
                {% for p in owned_project_list %}
                    <tr class='option'>
                        <td class='projects_title_row'> <a href="{% url 'sections.projects.views.projectInfo' %}?projId={{ p.id }}">{{ p.name }}</a> </td>
                        <td class='projects_desc_row'> {{ p.description|truncatechars:160|linebreaks }} </td>
                        <td class='projects_date_row'> {{ p.created_at }} </td>
                    </tr>
                {%  endfor %}

            </table>
        {% endif %}

        {% if contrib_projects.count > 0 %}<br/>
            <h1>Projects You Contribute To</h1>
            <table class='padd_table'>
                <tr class='header'>
                    <td> Name </td>
                    <td> Description </td>
                    <td> Date Created </td>
                </tr>
                {% for p in contrib_projects %}
                    <tr class='option'>
                        <td class='projects_title_row'> <a href="{% url 'sections.projects.views.projectInfo' %}?projId={{ p.project.id }}">{{ p.project.name }}</a> </td>
                        <td class='projects_desc_row'> {{ p.project.description|truncatechars:160|linebreaks }} </td>
                        <td class='projects_date_row'> {{ p.project.created_at }} </td>
                    </tr>
                {%  endfor %}

            </table>
        {% endif %}

    </section>

{% endblock %}