{% extends "base/base_home.html" %}

{% block user_content %}


        <div id='right_main'>
            <ul id="nav-right">
                <li><a class='large_main_btn' href='add_new'>Create New Project</a></li>
            </ul>
        </div>

    <section class="main_with_right_menu">
        <table class='padd_table'>
            <tr class='header'>
                <td> Name </td>
                <td> Description </td>
                <td> Date Created </td>
            </tr>
            {% for p in project_list %}
                <tr class='option'>
                    <td> <a href="project_info?projId={{ p.id }}">{{ p.name }}</a> </td>
                    <td> {{ p.description }} </td>
                    <td> {{ p.created_at }} </td>
                </tr>
            {%  endfor %}

        </table>




    </section>

{% endblock %}