{% extends "base/base_home.html" %}

{% block user_content %}

    <section id="proj_container">
        <div id='right_main'>
            <a href="/home/projects">< Back</a><br/>
            <a href="/home/projects/commit?projId={{ project.id }}">New Commit</a>
        </div>

        {{ project.name }}


        <table class='padd_table'>
            <tr class='header'>
                <td>Date</td>
                <td>Description</td>
                <td>Download Link</td>
            </tr>
            {% for p in project_updates %}
                <tr class='row'>
                    <td>{{ p.created_at }}<br/>Contributor: <b>{{ p.user.username }}</b></td>
                    <td>{{ p.description }}</td>
                    <td><a href='#'>Link</a></td>
                </tr>
            {%  endfor %}
        </table>

    </section>

{% endblock %}