{% extends "base/base_home.html" %}

{% block user_content %}

    <section id="proj_container">

{#        <form><input type="button" onClick="parent.location='add_new'" value='Create New Project'></form>#}
    <a class='large_main_btn' href='add_new'>Create New Project</a>
        <br/>

        <table id='proj_list'>
            <tr class='header'>
                <td> Name </td>
                <td> Description </td>
                <td> Date Created </td>
            </tr>
            {% for p in project_list %}
                <tr class='option'>
                    <td> {{ p.name }} </td>
                    <td> {{ p.description }} </td>
                    <td> {{ p.created_at }} </td>
                </tr>
            {%  endfor %}

        </table>




    </section>

{% endblock %}