{% extends "base/base_home.html" %}

{% block user_content %}

        <a href="/home/projects" class="nav_link"> < Back</a>

        <h1>{{ project.name }}</h1>
    {% comment %}
        <div id='right_main'>
            <ul id="nav-right">
                <li><a href="/home/projects/commit?projId={{ project.id }}">New Commit</a></li>
                <li><a href="#">Project Posts</a></li>
                <li><a href="#">Contributors</a></li>
                <li><a href="#">Invite</a></li>
            </ul>
        </div>
    {% endcomment %}

        <div class = 'proj_nav'>
            <a href="/home/projects/commit?projId={{ project.id }}">New Commit</a>
            <a href="#">Project Posts</a>
            <a href="#">Contributors</a>
            <a href="#">Invite</a>
        </div>

    <section class='main_with_right_menu'>
        <table class='padd_table'>
            <tr class='header'>
                <td>Date</td>
                <td>Description</td>
                <td>Download Link</td>
            </tr>
            {% for p in project_updates %}
                <tr class='row'>
                    <td>{{ p.created_at }}<br/>Contributor: <b>{{ p.user.username }}</b></td>
                    <td>{{ p.description }}</td>
                    <td><a href='#'>Link</a></td>
                </tr>
            {%  endfor %}
        </table>

    </section>

{% endblock %}