{% extends "base/base_home.html" %}
{% load static %}

{% block extra_head_content %}
    <link rel = 'stylesheet' href="{% static "css/sections/projects/project_info.css" %}" />
{% endblock %}

{% block user_content %}

    <a href="/home/projects" class="nav_link"> < Back</a>

    <h1>{{ project.name }}</h1>
    <hr/>
    <section>
        <div id='left_div'>
            <img id='proj_img' src="{{ MEDIA_URL }}{{ project.user.profile.picture }}" />
            <ul id='proj_contr'>
                {% for u in user_list %}
                    <li>{{ u.user.username }}</li>
                {% endfor %}
            {%  if request.user == project.user %}
                <li><br/>
                    <a href='/home/projects/invite?projId={{ project.id }}&userId=&searchFilter='>Invite More</a>
                </li>
            {% endif %}
            </ul>

            <div id='left_div_lower'>
                <h4>Description</h4>
                <span id='proj_desc'>{{ project.description }}</span>
            </div>
        </div>
        <div id='right_div'>
            <a class='button' href="/home/projects/addFile?projId={{ project.id }}">+</a>
            <a class='flt_right' href=''>All Commits</a>


            <table id='proj_file_table'>
                {% for p in project_files %}
                    <tr>
                        <td class='proj_file_name'><a href='/home/projects/file_info?fileId={{ p.id }}'>{{ p.name }}</a></td>
                        <td class='proj_file_download'><a href=''>Download</a></td>
                        <td class='proj_file_upload'><a href='/home/projects/file_update?fileId={{ p.id }}'>Upload</a></td>
                        <td class='proj_file_version'>(.01)</td>
                    </tr>
                {%  endfor %}
            </table>
        </div>
    </section>

{% endblock %}