#forum_thread_main #id_body
{
    width: 100%;
}
table
{
    width: 100%;

}
.thread_view_user_link_img
{
    width: 200px;
}
.forum_user_pic{ width: 100px; }
.thread_comment_container{
    width: 100%;
    border: black solid 1px;
    border-radius: 2px;
}
.tc_head{
    background: grey;
}
.tc_head td{
    padding-left: 10px;
    padding-right: 10px;
}

.tc_head_count{
    float:right;
}

.tc_head span{
    color: white;
}

.tc_holder{
}

.tc_holder_user_container
{
    width: 12%;
    padding-top: 1em;
    background-color: gainsboro;
    text-align: center;
    vertical-align: top;
}
.tc_holder_main{
    padding: 1em;
    vertical-align: top;
    background-color: white;
    min-height: 200px;
    width:70%;
}
.td_holder_btn_edit
{
    float: right;
}
.tc_spacer
{
    height: 10px;
}