{% extends "base/base_home.html" %}
{% load static %}

{% block extra_head_content %}
    <link rel = 'stylesheet' href="{% static "css/sections/settings/settings.css" %}" />
{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel = "stylesheet" href = "{% static "css/settings.css"%}"/>

{% endblock %}

{% block user_content %}
    <h1>Settings</h1>
    <img id='user_img' src='{{ MEDIA_URL }}{{ profile.picture }}' />
    <form action = "{% url "sections.settings.views.settings" %}" method = "post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type = 'submit' value = 'Save Changes'/>
    </form>
    {% if notify %}
    <h1 class='notify' style='display:none'>{{ message }}</h1>

    {% endif %}


{% endblock %}

